.tile             {position: absolute; left: 0; top: 0; width: 25%; height: 25%; transition: left .3s ease-in-out, top .3s ease-in-out; display: flex; justify-content: center; align-items: center; box-sizing: border-box;}

.tile             {border: 1px solid #dee2e6; background-color: var(--light); cursor: pointer; z-index: 2;}
.tile.tile--empty {background-color: var(--white); border: 1px solid transparent; z-index: 1;}
.tile__inner      {font-size: 3rem; font-weight: 300;}
